/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#hat {
	background: #5C2849;
	display: inline-block;
	height: 5em;
}

#logo {
	font-size: 40px;
	display: inline-block;
}

#reps {
	background: #A73E5C;
	width: 10em;
	height: 2em;
	display: inline-block;
	text-align: center;
	font-size: 3em;
	font-family: Arial;
}

#bands {
	background: #EC4863;
	width: 10em;
	height: 2em;
	display: inline-block;
	text-align: center;
	font-size: 3em;
	font-family: Arial;
}

#men {
	background: #FFDA66;
	width: 10em;
	height: 2em;
	display: inline-block;
	text-align: center;
	font-size: 3em;
	font-family: Arial;
}

#store {
	background: #1FCECB;
	width: 10em;
	height: 2em;
	display: inline-block;
	text-align: center;
	font-size: 3em;
	font-family: Arial;
}