<!DOCTYPE html>
<html>
<head>
  <title>Higay</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="hat">
  
  <div id="logo">
  	Higay
  </div>
  
  <div id="reps">
  	<a href="ya.ru">Repetitions</a>
  </div>

  <div id="bands">
  	<a href="ya.ru">Bands</a>
  </div>

  <div id="men">
  	<a href="ya.ru">Musicians</a>
  </div>

  <div id="store">
  	<a href="ya.ru">Store</a>
  </div>

</div>

<%= yield %>
DYE
</body>
</html>
